[package]
name = "temp-env"
version = "0.1.0"
authors = ["Volker Mische <volker.mische@gmail.com>", "Fabian Braun <fabian-braun-os@mailbox.org>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/vmx/temp-env"
description = "Set environment variables temporarily."
keywords = ["env", "environment", "envvar", "temporary", "testing"]
categories = ["development-tools", "development-tools::testing"]
edition = "2018"

[dependencies]
once_cell = "1.8.0"
